<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>SingleCloud.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,146},{312,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{312,177}}</string>
                <key>sourceSize</key>
                <string>{312,177}</string>
            </dict>
            <key>UIbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,925},{264,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,264}}</string>
                <key>sourceSize</key>
                <string>{264,264}</string>
            </dict>
            <key>background.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,367},{800,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{800,480}}</string>
                <key>sourceSize</key>
                <string>{800,480}</string>
            </dict>
            <key>buttonCredits.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,2},{196,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,70}}</string>
                <key>sourceSize</key>
                <string>{196,70}</string>
            </dict>
            <key>buttonLarge.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,74},{196,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,70}}</string>
                <key>sourceSize</key>
                <string>{196,70}</string>
            </dict>
            <key>buttonSmall.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,460},{136,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,80}}</string>
                <key>sourceSize</key>
                <string>{136,80}</string>
            </dict>
            <key>groundDirt.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{808,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{808,71}}</string>
                <key>sourceSize</key>
                <string>{808,71}</string>
            </dict>
            <key>groundGrass.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,75},{808,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{808,71}}</string>
                <key>sourceSize</key>
                <string>{808,71}</string>
            </dict>
            <key>groundIce.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,148},{808,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{808,71}}</string>
                <key>sourceSize</key>
                <string>{808,71}</string>
            </dict>
            <key>groundRock.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,221},{808,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{808,71}}</string>
                <key>sourceSize</key>
                <string>{808,71}</string>
            </dict>
            <key>groundSnow.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,294},{808,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{808,71}}</string>
                <key>sourceSize</key>
                <string>{808,71}</string>
            </dict>
            <key>medalBronze.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,542},{114,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,119}}</string>
                <key>sourceSize</key>
                <string>{114,119}</string>
            </dict>
            <key>medalGold.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,658},{114,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,119}}</string>
                <key>sourceSize</key>
                <string>{114,119}</string>
            </dict>
            <key>medalSilver.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,774},{114,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,119}}</string>
                <key>sourceSize</key>
                <string>{114,119}</string>
            </dict>
            <key>planeBlue1.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,460},{88,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,73}}</string>
                <key>sourceSize</key>
                <string>{88,73}</string>
            </dict>
            <key>planeBlue2.png</key>
            <dict>
                <key>frame</key>
                <string>{{925,550},{88,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,73}}</string>
                <key>sourceSize</key>
                <string>{88,73}</string>
            </dict>
            <key>planeBlue3.png</key>
            <dict>
                <key>frame</key>
                <string>{{925,625},{88,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,73}}</string>
                <key>sourceSize</key>
                <string>{88,73}</string>
            </dict>
            <key>planeGreen1.png</key>
            <dict>
                <key>frame</key>
                <string>{{925,700},{88,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,73}}</string>
                <key>sourceSize</key>
                <string>{88,73}</string>
            </dict>
            <key>planeGreen2.png</key>
            <dict>
                <key>frame</key>
                <string>{{925,775},{88,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,73}}</string>
                <key>sourceSize</key>
                <string>{88,73}</string>
            </dict>
            <key>planeGreen3.png</key>
            <dict>
                <key>frame</key>
                <string>{{925,850},{88,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,73}}</string>
                <key>sourceSize</key>
                <string>{88,73}</string>
            </dict>
            <key>planeRed1.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,849},{88,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,73}}</string>
                <key>sourceSize</key>
                <string>{88,73}</string>
            </dict>
            <key>planeRed2.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,849},{88,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,73}}</string>
                <key>sourceSize</key>
                <string>{88,73}</string>
            </dict>
            <key>planeRed3.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,849},{88,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,73}}</string>
                <key>sourceSize</key>
                <string>{88,73}</string>
            </dict>
            <key>planeYellow1.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,849},{88,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,73}}</string>
                <key>sourceSize</key>
                <string>{88,73}</string>
            </dict>
            <key>planeYellow2.png</key>
            <dict>
                <key>frame</key>
                <string>{{517,849},{88,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,73}}</string>
                <key>sourceSize</key>
                <string>{88,73}</string>
            </dict>
            <key>planeYellow3.png</key>
            <dict>
                <key>frame</key>
                <string>{{607,849},{88,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,73}}</string>
                <key>sourceSize</key>
                <string>{88,73}</string>
            </dict>
            <key>puffLarge.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1263},{42,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,35}}</string>
                <key>sourceSize</key>
                <string>{42,35}</string>
            </dict>
            <key>puffSmall.png</key>
            <dict>
                <key>frame</key>
                <string>{{991,146},{25,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,21}}</string>
                <key>sourceSize</key>
                <string>{25,21}</string>
            </dict>
            <key>rock.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,1191},{108,239}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,239}}</string>
                <key>sourceSize</key>
                <string>{108,239}</string>
            </dict>
            <key>rockDown.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,1191},{108,239}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,239}}</string>
                <key>sourceSize</key>
                <string>{108,239}</string>
            </dict>
            <key>rockGrass.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,925},{108,239}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,239}}</string>
                <key>sourceSize</key>
                <string>{108,239}</string>
            </dict>
            <key>rockGrassDown.png</key>
            <dict>
                <key>frame</key>
                <string>{{533,925},{108,239}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,239}}</string>
                <key>sourceSize</key>
                <string>{108,239}</string>
            </dict>
            <key>rockIce.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,925},{108,239}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,239}}</string>
                <key>sourceSize</key>
                <string>{108,239}</string>
            </dict>
            <key>rockIceDown.png</key>
            <dict>
                <key>frame</key>
                <string>{{753,925},{108,239}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,239}}</string>
                <key>sourceSize</key>
                <string>{108,239}</string>
            </dict>
            <key>rockSnow.png</key>
            <dict>
                <key>frame</key>
                <string>{{753,1035},{108,239}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,239}}</string>
                <key>sourceSize</key>
                <string>{108,239}</string>
            </dict>
            <key>rockSnowDown.png</key>
            <dict>
                <key>frame</key>
                <string>{{753,1145},{108,239}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,239}}</string>
                <key>sourceSize</key>
                <string>{108,239}</string>
            </dict>
            <key>starBronze.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,1255},{39,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,38}}</string>
                <key>sourceSize</key>
                <string>{39,38}</string>
            </dict>
            <key>starGold.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,1255},{39,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,38}}</string>
                <key>sourceSize</key>
                <string>{39,38}</string>
            </dict>
            <key>starSilver.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,1255},{39,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,38}}</string>
                <key>sourceSize</key>
                <string>{39,38}</string>
            </dict>
            <key>tap.png</key>
            <dict>
                <key>frame</key>
                <string>{{651,1255},{41,41}}</string>
                <key>offset</key>
                <string>{9,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,18},{41,41}}</string>
                <key>sourceSize</key>
                <string>{59,59}</string>
            </dict>
            <key>tapLeft.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,1251},{85,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,42}}</string>
                <key>sourceSize</key>
                <string>{85,42}</string>
            </dict>
            <key>tapRight.png</key>
            <dict>
                <key>frame</key>
                <string>{{697,849},{85,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,42}}</string>
                <key>sourceSize</key>
                <string>{85,42}</string>
            </dict>
            <key>tapTick.png</key>
            <dict>
                <key>frame</key>
                <string>{{651,1166},{59,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,59}}</string>
                <key>sourceSize</key>
                <string>{59,59}</string>
            </dict>
            <key>textGameOver.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,849},{412,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{412,78}}</string>
                <key>sourceSize</key>
                <string>{412,78}</string>
            </dict>
            <key>textGetReady.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,849},{400,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,73}}</string>
                <key>sourceSize</key>
                <string>{400,73}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tappyplane.png</string>
            <key>size</key>
            <string>{1017,1301}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f0ae8a609f697f4629a91e0b135cf543:49d25ade84b305bdb74cceab3760bcda:e6b99a725ed8eb2ebde398527df71054$</string>
            <key>textureFileName</key>
            <string>tappyplane.png</string>
        </dict>
    </dict>
</plist>
